@import "tailwindcss";

html::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button{
    cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: 
  radial-gradient(farthest-side,#93c5fd 92%,#0000) left 70% bottom 20%/15px 15px,
  radial-gradient(farthest-side,#FFC300 80%,#0000) left 70% top    20%/15px 15px,
  radial-gradient(farthest-side,#111015 92%,#0000) left 65% bottom 19%/12px 12px,
    linear-gradient(#FF8C00 50%,#111015 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
@keyframes l5 {
  0%,20%   {transform: rotate(0)}
  40%,60%  {transform: rotate(.5turn)}
  80%,100% {transform: rotate(1turn)}
}

/* p{
  color: #ffe6a3;
} */

